[defaults]
inventory = /test
remote_user = root
ask_pass = false
collections_path = /test
roles_path = /test


[priviledge_escalation]
become = true
become_user = root
become_ask_pass = false
become_method = ansible.builtin.sudo

